<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
 <h2>프로필 정보 입력</h2>
<form th:action="@{/user/mypage/first/}" method="post" enctype="multipart/form-data">
        <div>
            <label for="username">사용자 아이디:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="address">주소:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div>
            <label for="nickname">닉네임:</label>
            <input type="text" id="nickname" name="nickname" required>
        </div>
        <div>
            <label for="phoneNumber">전화번호:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required>
        </div>
        <div>
            <label for="profileImage">프로필 이미지:</label>
            <input type="file" id="profileImage" name="file" accept="image/*" required>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit"  class="btn btn-primary">정보 저장</button>
    </form>
   </div>
 </html>
