<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
        <h2>마이페이지</h2>
        <div>
            <img th:src="@{/img/uploadFiles/__${userInfo.photo}__}" alt="프로필 사진" width="100" height="100">
        </div>
        <div>
            <label>핸드폰 번호:</label>
            <span th:text="${userInfo.phoneNumber}"></span>
        </div>
        <div>
            <label>주소:</label>
            <span th:text="${userInfo.address}"></span>
        </div>
        <div>
            <label>닉네임:</label>
            <span th:text="${userInfo.nickname}"></span>
        </div>
        <div>
            <form th:action="@{/info}" method="get" enctype="multipart/form-data">
                <button type="submit"  class="btn btn-primary">정보 수정하기</button>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            </form>
        </div>
 </div>
</html>
